*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgba(167, 161, 161, 0.24);
    height: 800px;
    
}
.div1{
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
     
}
.card1{
    margin-top: 60px;
    height: 350px;
    width: 250px;
    background-color: #fff;
    border-radius: 20px;
    font-family: 'Segoe UI',  sans-serif;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow:  inset 2px  4px 5px black ;
}
.p1{
    height: 250;
    background-color: red;
    text-align: center;
    font-size: 100px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
}
.p2{
    height: 250;
    background-color: rgb( 160, 18, 153);
    text-align: center;
    font-size: 100px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
}
.p3
{
    height: 250;
    background-color: rgb(60, 15, 167);
    text-align: center;
    font-size: 100px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
}
.p4{
    height: 250;
    background-color: rgba(45, 199, 45, 0.767);
    text-align: center;
    font-size: 100px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
}
h2{
    margin: 20px;
    padding: 10px;

}
button{
    margin-top: 20px;
    height: 23px;
    width: 100px;
    color: #0f0f0fcc;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn1:hover{
    color: #fff;
    background-color: red;

}
.btn2:hover{
    color: #fff;
    background-color:rgb( 160, 18, 153);

}
.btn3:hover{
    color: #fff;
    background-color:rgb(60, 15, 167);

}
.btn4:hover{
    color: #fff;
    background-color:rgba(45, 199, 45, 0.767);
}
   